.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #0A397F;
    float: left;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: whitesmoke;
    vertical-align: middle;
    
}

.content {
    margin-left: 200px;
    padding: 20px;
}

.sidebar ul li a:hover {
    color : cyan;
    text-decoration: underline;
}

.sidebar ul li img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    vertical-align: middle;
}

.sidebar ul h2{
    text-align: center;
    color: white;
    margin-bottom: 70px ;
}

.navbar {
    background-color: #1565c0;
    color: black;
    padding: 10px;
    text-align: right;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    display: inline;
    padding: 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
}

.navbar ul li img {
    width: 23px;
    height: 23px;
    margin-right: 10px;
}

.navbar ul li a:hover {
    color: white;
}

body {
    display: flex;
    height: 50px;
    width: 100%;
}

.content{
    display: fixed;
    margin-left: 200px;
    padding: 20px;

}